* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body,
main {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.96);
}

#waveform1,
#waveform2 {
  overflow-x: hidden !important;
  min-height: 200px !important;
  margin-bottom: 0.25rem;
}

#waveform2 {
  margin-top: 1.1rem;
  z-index: 2;
  position: fixed !important;
  width: 100% !important;
  opacity: 0.87;
}

[data-id="loop"] {
  border-left: 1px solid skyblue !important;
  border-right: 1px solid skyblue !important;
  height: 100px !important;
  top: 100px !important;
  background-image: linear-gradient(
    to top,
    rgba(135, 206, 235, 0.25),
    transparent
  ) !important;
}

[data-id="selection"] {
  border-left: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  height: 100px !important;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25),
    transparent
  ) !important;
}

[data-id="layer1"] {
  border-left: 1px solid gold !important;
  border-right: 1px solid rgb(255, 215, 0) !important;
  height: 100px !important;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 215, 0, 0.25),
    transparent
  ) !important;
}

#waveform1.layer0 [data-id="layer1"] {
  visibility: hidden !important;
}

#waveform1.layer0 [data-id="selection"] {
  visibility: visible !important;
}

#waveform1.layer1 [data-id="selection"] {
  visibility: hidden !important;
}

.wavesurfer-handle {
  background-color: skyblue !important;
  height: 1.8rem !important;
  width: 2.2rem !important;
  background-image: url("/grip.svg");
}

[data-id="selection"] .wavesurfer-handle,
[data-id="layer1"] .wavesurfer-handle {
  top: 0 !important;
}

[data-id="selection"] .wavesurfer-handle {
  background-color: #fff !important;
}

[data-id="layer1"] .wavesurfer-handle {
  background-color: gold !important;
}

[data-id="selection"] .wavesurfer-handle-start,
[data-id="layer1"] .wavesurfer-handle-start {
  border-bottom-right-radius: 0.75rem !important;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

[data-id="selection"] .wavesurfer-handle-end,
[data-id="layer1"] .wavesurfer-handle-end {
  border-bottom-left-radius: 0.75rem !important;
  box-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

[data-id="loop"] .wavesurfer-handle {
  bottom: 0 !important;
  top: auto !important;
}

[data-id="loop"] .wavesurfer-handle-start {
  border-top-right-radius: 0.75rem !important;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

[data-id="loop"] .wavesurfer-handle-end {
  border-top-left-radius: 0.75rem !important;
  box-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.wavesurfer-marker > div {
  background: gray !important;
  opacity: 0.75 !important;
}

.marker-label {
  display: none !important;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1.25rem auto 1.5rem;
  cursor: pointer;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 1px;
  border: none;
  border-radius: 3px;
  background-color: rgba(135, 206, 235, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background: skyblue;
  margin-top: -1rem;
}

.wavesurfer-handle,
input[type="range"]::-webkit-slider-thumb,
input[type="range"]:disabled::-webkit-slider-thumb {
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
}

#scroll::-webkit-slider-thumb {
  background-image: url("/scroll.svg");
}

#zoom::-webkit-slider-thumb {
  background-image: url("/zoom.svg");
}

#speed::-webkit-slider-thumb {
  background-image: url("/speed.svg");
}

#fader::-webkit-slider-thumb {
  background-image: url("/fader.svg");
}

input[type="range"]:disabled::-webkit-slider-thumb,
input[type="range"]:disabled::-webkit-slider-runnable-track {
  background-color: gray;
}

input[type="range"]:focus {
  outline: none;
}
