* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body,
main {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.96);
}

.ws {
  overflow-x: hidden !important;
  min-height: 250px !important;
  margin-bottom: 0.25rem !important;
}

#ws0,
#ws1,
#ws2,
#ws3 {
  position: fixed !important;
  width: 100% !important;
  opacity: 0.5;
  pointer-events: none;
}

#ws0 wave,
#ws1 wave,
#ws2 wave,
#ws3 wave,
#wsRegions wave {
  height: 190px !important;
}

.ws.selected {
  z-index: 1 !important;
  opacity: 1 !important;
}

[data-id="selection"] {
  height: 216px !important;
  border-left: 2px solid #fff !important;
  border-right: 2px solid #fff !important;
  background-image: linear-gradient(
    to bottom,
    transparent 89%,
    rgba(255, 255, 255, 0.2) 90%
  );
}

[data-id="loop"] {
  height: 250px !important;
  border-left: 2px solid skyblue !important;
  border-right: 2px solid skyblue !important;
  background-image: linear-gradient(
    to bottom,
    transparent 89%,
    rgba(135, 206, 235, 0.2) 90%
  );
}

.wavesurfer-handle {
  background-color: skyblue !important;
  height: 1.8rem !important;
  width: 2.2rem !important;
}

[data-id="loop"] .wavesurfer-handle {
  bottom: 0 !important;
  top: auto !important;
}

[data-id="loop"] .wavesurfer-handle-start {
  border-top-right-radius: 0.75rem !important;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

[data-id="loop"] .wavesurfer-handle-end {
  border-top-left-radius: 0.75rem !important;
  box-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

[data-id="selection"] .wavesurfer-handle {
  bottom: 0 !important;
  top: auto !important;
  background-color: #fff !important;
}

[data-id="selection"] .wavesurfer-handle-start {
  border-top-right-radius: 0.75rem !important;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

[data-id="selection"] .wavesurfer-handle-end {
  border-top-left-radius: 0.75rem !important;
  box-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.wavesurfer-marker > div {
  background: lightgray !important;
  opacity: 0.75 !important;
}

#ws1 .wavesurfer-marker > div,
#ws2 .wavesurfer-marker > div,
#ws3 .wavesurfer-marker > div {
  background: red !important;
}

#ws1 .wavesurfer-marker,
#ws2 .wavesurfer-marker,
#ws3 .wavesurfer-marker {
  height: 1rem !important;
}

.marker-label {
  display: none !important;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1.25rem auto 1.5rem;
  cursor: pointer;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 1px;
  border: none;
  border-radius: 3px;
  background-color: rgba(135, 206, 235, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background: skyblue;
  margin-top: -1rem;
}

.wavesurfer-handle,
input[type="range"]::-webkit-slider-thumb,
input[type="range"]:disabled::-webkit-slider-thumb {
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
}

#scroll::-webkit-slider-thumb {
  background-image: url("/icons/scroll.svg");
}

#zoom::-webkit-slider-thumb {
  background-image: url("/icons/zoom.svg");
}

#speed::-webkit-slider-thumb {
  background-image: url("/icons/speed.svg");
}

#fader::-webkit-slider-thumb {
  background-image: url("/icons/fader.svg");
}

#sliderVol2::-webkit-slider-thumb {
  background-image: url("/icons/2.svg");
}

#sliderVol3::-webkit-slider-thumb {
  background-image: url("/icons/3.svg");
}

input[type="range"]:disabled::-webkit-slider-thumb,
input[type="range"]:disabled::-webkit-slider-runnable-track {
  background-color: gray;
}

input[type="range"]:focus {
  outline: none;
}
