.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.info,
.slider,
.playlist {
  max-width: 600px;
  margin: 0 auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: skyblue;
}

.slider {
  width: 95%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0.25rem 0;
  justify-content: center;
  width: 100%;
}

.content > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content .hide {
  display: none;
}

.toolbar,
.controls {
  display: flex;
  width: 100%;
  flex-direction: row;
  max-width: 500px;
  margin: 0.25rem auto;
}

.toolbar button,
.controls button {
  height: 2.25rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid skyblue;
  border-radius: 0;
  color: skyblue;
  background-color: black;
  flex-grow: 1;
  font-size: 0.9rem;
  border-left: none;
  width: 20%;
}

.controls button:nth-child(1),
.controls button:nth-child(4),
.toolbar button:nth-child(1) {
  border-left: 1px solid skyblue;
}

.controls button {
  font-size: 1.1rem;
}

.toolbar .selected,
.toolbar button:active,
.controls button:active {
  background-color: rgba(135, 206, 235, 0.25);
}

.toolbar button:disabled,
.controls button:disabled {
  color: gray;
  border-color: gray;
  background-color: black;
}

.playlist {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
  cursor: pointer;
  color: skyblue;
  width: 100%;
  margin: 0.25rem auto 0;
}

.playlist li {
  padding: 0.01rem;
}

/* hacky fix to show all playlist items for now */
.playlist li:last-child {
  margin-bottom: 12rem;
}

.selected {
  color: #39ff14;
  background-color: rgba(135, 206, 235, 0.25);
}

.toolbar .white {
  border: 1px solid #fff;
  color: #fff;
}

.toolbar .border0 {
  border: 1px solid #39ff14;
}

.toolbar .border1 {
  border: 1px solid gold;
}

.toolbar .border2 {
  border: 1px solid #bd53ff;
}

.toolbar .color0 {
  color: #39ff14;
}

.toolbar .color1 {
  color: gold;
}

.toolbar .color2 {
  color: #bd53ff;
}
