.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.25rem;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.info {
}

.slider {
  cursor: pointer;
  width: 95%;
  padding: 0.25rem 0;
}

.toolbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 0.5rem 0 0.1rem;
  max-width: 500px;
  margin: 0 auto;
}

.toolbar button {
  height: 2rem;
  width: 25%;
  text-align: center;
  cursor: pointer;
  border: 1px solid skyblue;
  border-radius: 0;
  color: skyblue;
  background-color: black;
  margin: 0.2rem 0;
}

.toolbar button:disabled {
  color: gray;
}

.playlist {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
  cursor: pointer;
  color: skyblue;
  margin-bottom: 0.2rem;
  width: 100%;
}

.playlist li {
  padding: 0.01rem;
}

/* hacky fix to show all playlist items for now */
.playlist li:last-child {
  margin-bottom: 12rem;
}

.selected {
  color: #39ff14;
  background-color: rgba(255, 215, 0, 0.2);
}

.info,
.slider,
.playlist {
  max-width: 600px;
  margin: 0 auto;
}
